@import '~@angular/material/prebuilt-themes/purple-green.css';

html, body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding:0;
  height: 100%;
}

.basic-container {
  padding: 30px;
  overflow-y: auto;
  min-height: calc(100vh - 60px);
}